@using Newtonsoft.Json
@model MenuItem

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MenuItemCtrl">
    <div class="row" ng-init="InitEdit()">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @using (Html.BeginForm())
                {
                    <div class="ibox-title">
                        <h5>@Html.EditPageTitle("MenuItem")</h5>
                        <div class="ibox-tools">
                            @Html.LocalizedStyledActionLinkForExistingItem("AllowedRoles", "List", "MenuItemRole", new RouteValueDictionary() { { "MenuItemId", Model.Id } })
                            @Html.SaveLinks()
                        </div>
                    </div>
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabel("MenuItem.Text")
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Text)
                                    @Html.ValidationMessageFor(model => model.Text)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabel("MenuItem.Url")
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Url)
                                    @Html.ValidationMessageFor(model => model.Url)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabel("MenuItem.Icon")
                                </div>
                                <div class="col-md-4">
                                    @*@Html.StyledDropDownList("IconId", Html.GetItems<Icon>(), Model.IconId, htmlAttributes: new Dictionary<string, object>{{"ng-model", "model.Icon.Id"}})*@
                                    @Html.StyledDropDownList("IconId", Html.GetItems<Icon>(), Model.IconId)
                                    <i ng-if="model.IconId" class="fa {{model.Icons[model.IconId-1].CssClass}}"></i>
                            
                                    @Html.ValidationMessageFor(model => model.Icon)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabel("MenuItem.Order")
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Order)
                                    @Html.ValidationMessageFor(model => model.Order)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabel("MenuItem.Parent")
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownList("ParentId", Html.GetItems<MenuItem>(), Model.ParentId)
                                    @Html.ValidationMessageFor(model => model.Parent)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    window.model =
    @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, new JsonSerializerSettings{ReferenceLoopHandling = ReferenceLoopHandling.Ignore }));
        @*@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));*@
</script>   