@model IEnumerable<Project>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Project List</h5>
                    <div class="ibox-tools">
                        @Html.LocalizedStyledActionLink("Create", "Edit", "Create")
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.LocalizedStyledLabel("Project.Name")
                            </th>
                            <th>
                            </th>
                            <th></th>
                        </tr>
                        @Html.EmptyMessage(Model)
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td></td>
                                <td>
                                    @*@Html.LocalizedStyledActionLink("Edit", "Edit", new RouteValueDictionary { { "Id", item.Id } }, "Edit")*@
                                    @Html.EditLink(item.Id)
                                    @Html.DeleteLink(item.Id)
                                    @Html.LocalizedStyledActionLink("Select", "Select", new RouteValueDictionary { { "Id", item.Id } }, "Edit")
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>