@model IEnumerable<Item>

<div ng-controller="ItemCtrl" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.PageTitle</h5>
                    <div class="ibox-tools">
                        @Html.LocalizedStyledActionLink("Create", "Edit", "Create")
                        @Html.LocalizedStyledActionLink("CopyFromExisting", "Copy", "Create")
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped dataTables-example">
                        <thead>
                            <tr>
                                <th orderable="false">
                                    @Html.LocalizedStyledLabel("Item.Name")
                                </th>
                                <th>
                                    @Html.LocalizedStyledLabel("Item.IsEnum")
                                </th>
                                @*<th>
                                    @Html.LocalizedStyledLabel("Item.ProjectName")
                                </th>*@
                                <th>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EmptyMessage(Model)
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsEnum)
                                    </td>
                                    @*<td>
                                        @Html.Modal(item.Project, "Details", "Project", new RouteValueDictionary { { "Id", item.ProjectId } }, item.ProjectId)
                                    </td>*@
                                    <td>
                                        @Html.Modal(item.Properties.Count.ToString() + " " + Html.Localize("Property"), "List", "ItemProperty", new RouteValueDictionary { { "ItemId", item.Id } }, item.Id)
                                    </td>
                                    <td>
                                        @Html.LocalizedStyledActionLink("View Code", "Code", new RouteValueDictionary { { "Id", item.Id } }, "Details")
                                        @Html.LocalizedStyledActionLink("Properties", "List", "ItemProperty", new RouteValueDictionary { { "ItemId", item.Id } })
                                        @*@Html.LocalizedStyledActionLink("Edit", "Edit", new RouteValueDictionary { { "Id", item.Id } }, "Edit")*@
                                        @Html.LocalizedStyledActionLink("AddProperty", "Edit", "ItemProperty", new RouteValueDictionary { { "ItemId", item.Id } })
                                        @Html.EditLink(item.Id)
                                        @Html.DeleteLink(item.Id)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                columnDefs: [
                    {
                        "targets": 1,
                        "orderable": false
                    },
                    {
                        "targets": 2,
                        "orderable": false
                    },
                    {
                        "targets": 3,
                        "orderable": false
                    }
                ],
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });
    </script>
}