@model ItemProperty

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ItemPropertyCtrl">
    <div class="row" ng-init="InitEdit()">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @using (Html.BeginForm())
                {
                    <div class="ibox-title">
                        <h5>Edit ItemProperty</h5>
                        <div class="ibox-tools">
                            @Html.LocalizedStyledActionLink("Edit Item", "Edit", "Item", new RouteValueDictionary { { "Id", Model.ItemId } }, "ExtraLinks")
                            @Html.LocalizedStyledActionLink("Item Properties", "List", "ItemProperty", new RouteValueDictionary { { "ItemId", Model.ItemId } }, "ExtraLinks")
                            @Html.LocalizedStyledActionLink("Project Items", "List", "Item", new RouteValueDictionary { { "ProjectId", UIStateManager.Instance.ProjectId } }, "ExtraLinks")
                            @Html.SaveLinks()
                        </div>
                    </div>
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.HiddenFor(model => model.Id)
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.Item)
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownList("ItemId", Html.GetProjectItems(), Model.ItemId, disabled: true)
                                    @Html.ValidationMessageFor(model => model.Item)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabel("ItemProperty.Project")
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledLabel(Model.Item.ProjectName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.Name)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.Type)
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownListForEnum("Type", typeof(ItemPropertyType), Model.Type)
                                    @Html.ValidationMessageFor(model => model.Type)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.MappingType)
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownListForEnum("MappingType", typeof(ItemPropertyMappingType), Model.MappingType)
                                    @Html.ValidationMessageFor(model => model.MappingType)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.AccessorType)
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownListForEnum("AccessorType", typeof(AccessorType), Model.AccessorType)
                                    @Html.ValidationMessageFor(model => model.AccessorType)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.IsNullable)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.IsNullable)
                                    @Html.ValidationMessageFor(model => model.IsNullable)
                                </div>
                            </div>
                            <div class="hr-line-dashed" ng-show="model.ShowStringComponents"></div>
                            <div class="form-group" ng-show="model.ShowStringComponents">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.MinLength)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.MinLength)
                                    @Html.ValidationMessageFor(model => model.MinLength)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.MaxLength)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.MaxLength)
                                    @Html.ValidationMessageFor(model => model.MaxLength)
                                </div>
                            </div>
                            <div class="form-group" ng-show="model.ShowStringComponents">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.RegularExpressionValidation)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.RegularExpressionValidation)
                                    @Html.ValidationMessageFor(model => model.RegularExpressionValidation)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.IsUnicode)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.IsUnicode)
                                    @Html.ValidationMessageFor(model => model.IsUnicode)
                                </div>
                            </div>
                            <div class="hr-line-dashed" ng-show="model.ShowInnerTypeComponents"></div>
                            <div class="form-group" ng-show="model.ShowInnerTypeComponents">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.InnerType)
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownList("InnerTypeId", Html.GetProjectItems(Model.Type == ItemPropertyType.Enum), Model.InnerTypeId)
                                    @Html.ValidationMessageFor(model => model.InnerType)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.AssociationType)
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownListForEnum("AssociationType", typeof(AssociationType), Model.AssociationType)
                                    @Html.ValidationMessageFor(model => model.AssociationType)
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.MvcIgnore)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.MvcIgnore)
                                    @Html.ValidationMessageFor(model => model.MvcIgnore)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.MvcListIgnore)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.MvcListIgnore)
                                    @Html.ValidationMessageFor(model => model.MvcListIgnore)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.NotSelected)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NotSelected)
                                    @Html.ValidationMessageFor(model => model.NotSelected)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.NotSaved)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NotSaved)
                                    @Html.ValidationMessageFor(model => model.NotSaved)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.AppendToToString)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.AppendToToString)
                                    @Html.ValidationMessageFor(model => model.AppendToToString)
                                </div>
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.FieldName)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.FieldName)
                                    @Html.ValidationMessageFor(model => model.FieldName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.StyledLabelFor(model => model.EditGroupName)
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.EditGroupName)
                                    @Html.ValidationMessageFor(model => model.EditGroupName)
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
