@model SearchResultModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2>
                        @Model.Results.Count() results found for <span class="text-navy">@Model.Keyword</span>
                    </h2>
                    
                    @foreach (var result in Model.Results)
                    {
                        <div class="hr-line-dashed"></div>
                        <div class="search-result">
                            <h3><a href="@result.Url">@result.Title</a></h3>
                            <a href="@result.Url" class="search-link">@result.FullUrl</a>
                            <p>
                                @result.Description
                            </p>
                        </div>
                    }

                    @*<div class="hr-line-dashed"></div>
                    <div class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-white">1</button>
                            <button class="btn btn-white  active">2</button>
                            <button class="btn btn-white">3</button>
                            <button class="btn btn-white">4</button>
                            <button class="btn btn-white">5</button>
                            <button class="btn btn-white">6</button>
                            <button class="btn btn-white">7</button>
                            <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> </button>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

