@using Reconciliation.BL
@model Reconciliation

@using (Html.BeginForm())
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.EditPageTitle("Reconciliation")</h5>
                        <div class="ibox-tools">
                            @Html.SaveLink()
                            @Html.LocalizedStyledActionLink("Reconciliation.ExportPdf", "Edit", "Reconciliation", null, "Save")
                            @Html.LocalizedStyledActionLink("Reconciliation.Print", "Edit", "Reconciliation", null, "Save")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Reconciliation.Date")
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("Date", Model.Date.ToString("yyyy-MM-dd"), new { @type = "date", @class = "form-control", @format = "dd/MM/yyyy" })
                                    @Html.ValidationMessageFor(model => model.Date)
                                </div>
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Reconciliation.Store")
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownList("StoreId", Html.GetItems<Store>(), Model.StoreId)
                                    @Html.ValidationMessageFor(model => model.Store)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Reconciliation.Status")
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownListForEnum("Status", typeof(ReconciliationStatus), Model.Status)
                                    @Html.ValidationMessageFor(model => model.Status)
                                </div>
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Reconciliation.DocumentId")
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.DocumentId)
                                    @Html.ValidationMessageFor(model => model.DocumentId)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Reconciliation.Notes")
                                </div>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Notes, new { @rows = 4, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Notes)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.Localize("Reconciliation.Cash")</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th orderable="false">
                                        @Html.LocalizedStyledLabel("Reconciliation.Currency")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.Parity")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.Amount")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Cashes)
                                {
                                    <tr>
                                        <td>@item.Currency</td>
                                        <td>@Html.StyledRightAlignedTextBoxFor(x => item.Parity)</td>
                                        <td>@Html.StyledRightAlignedTextBoxFor(x => item.Amount)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.Localize("Reconciliation.SalesList")</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th orderable="false">
                                        @Html.LocalizedStyledLabel("Reconciliation.Sales")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.System")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.Document")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Sales.Count; i++)
                                {
                                    var item = Model.Sales[i];
                                    bool last = i == Model.Sales.Count - 1;
                                    string cssClass = last ? "bg-primary" : "";
                                    <tr class="@cssClass">
                                        <td>@item.Title</td>
                                        <td>@item.SystemAmount.ToString("N02")</td>

                                        @if (last)
                                        {
                                            <td class="text-right">@item.DocumentAmount.ToString("N02")</td>
                                        }
                                        else
                                        {
                                            <td>@Html.StyledRightAlignedTextBoxFor(x => item.DocumentAmount)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.Localize("Reconciliation.Refunds")</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th orderable="false">
                                        @Html.LocalizedStyledLabel("Reconciliation.Refund")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.System")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.Document")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Refunds.Count; i++)
                                {
                                    var item = Model.Refunds[i];
                                    bool last = i == Model.Refunds.Count - 1;
                                    string cssClass = last ? "bg-primary" : "";
                                    <tr class="@cssClass">
                                        <td>@item.Title</td>
                                        <td>@item.SystemAmount.ToString("N02")</td>

                                        @if (last)
                                        {
                                            <td class="text-right">@item.DocumentAmount.ToString("N02")</td>
                                        }
                                        else
                                        {
                                            <td>@Html.StyledRightAlignedTextBoxFor(x => item.DocumentAmount)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.Localize("Reconciliation.SalesPayments")</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th orderable="false">
                                        @Html.LocalizedStyledLabel("Reconciliation.SalesPayment")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.System")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.Document")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SalesPayments.Count; i++)
                                {
                                    var item = Model.SalesPayments[i];
                                    bool last = i == Model.SalesPayments.Count - 1;
                                    string cssClass = last ? "bg-primary" : "";
                                    <tr class="@cssClass">
                                        <td>@item.Title</td>
                                        <td>@item.SystemAmount.ToString("N02")</td>

                                        @if (last)
                                        {
                                            <td class="text-right">@item.DocumentAmount.ToString("N02")</td>
                                        }
                                        else
                                        {
                                            <td>@Html.StyledRightAlignedTextBoxFor(x => item.DocumentAmount)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.Localize("Reconciliation.RefundPayments")</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th orderable="false">
                                        @Html.LocalizedStyledLabel("Reconciliation.RefundPayment")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.System")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.Document")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.RefundPayments.Count; i++)
                                {
                                    var item = Model.RefundPayments[i];
                                    bool last = i == Model.RefundPayments.Count - 1;
                                    string cssClass = last ? "bg-primary" : "";
                                    <tr class="@cssClass">
                                        <td>@item.Title</td>
                                        <td>@item.SystemAmount.ToString("N02")</td>

                                        @if (last)
                                        {
                                            <td class="text-right">@item.DocumentAmount.ToString("N02")</td>
                                        }
                                        else
                                        {
                                            <td>@Html.StyledRightAlignedTextBoxFor(x => item.DocumentAmount)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.Localize("Reconciliation.Cashouts")</h5>
                        <div class="ibox-tools">
                            @Html.SaveLink(linkTextKey: "Reconciliation.AddNew", htmlAttributes: new Dictionary<string, object> { { "disabled", "disabled" } })
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th orderable="false">
                                        @Html.LocalizedStyledLabel("Reconciliation.Cashout")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.Bank")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.DocumentNumber")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.Amount")
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Cashouts)
                                {
                                    <tr>
                                        <td>@Html.StyledDropDownList("CashoutTypeId" + item.Id, Html.GetItems<CashoutType>(), item.CashoutTypeId)</td>
                                        <td>@Html.StyledDropDownList("BankId" + item.Id, Html.GetItems<Bank>(), item.BankId)</td>
                                        <td>@Html.EditorFor(x => item.DocumentNumber)</td>
                                        <td>@Html.StyledRightAlignedTextBoxFor(x => item.Amount)</td>
                                        <td>@Html.DeleteLink(item.Id)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.Localize("Reconciliation.TransfersIn")</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th orderable="false">
                                        @Html.LocalizedStyledLabel("Reconciliation.TransferIn")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.Amount")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TransfersIn)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.Amount.ToString("N02")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.Localize("Reconciliation.TransfersOut")</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th orderable="false">
                                        @Html.LocalizedStyledLabel("Reconciliation.TransferOut")
                                    </th>
                                    <th>
                                        @Html.LocalizedStyledLabel("Reconciliation.Amount")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TransfersOut)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.Amount.ToString("N02")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.Localize("Reconciliation.Cashier")</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LocalizedStyledLabel("Reconciliation.NameSurname")
                                </div>
                                <div class="col-md-9">
                                    @Html.StyledTextBoxFor(x => Model.Cashier)
                                    @Html.ValidationMessageFor(model => model.Cashier)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LocalizedStyledLabel("Reconciliation.Signature")
                                </div>
                                <div class="col-md-9">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Html.Localize("Reconciliation.Manager")</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LocalizedStyledLabel("Reconciliation.NameSurname")
                                </div>
                                <div class="col-md-9">
                                    @Html.StyledTextBoxFor(x => Model.Manager)
                                    @Html.ValidationMessageFor(model => model.Manager)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LocalizedStyledLabel("Reconciliation.Signature")
                                </div>
                                <div class="col-md-9">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

