@using System.Web.UI.WebControls
@using MannFramework.Application.Manager
@using MenuItem = MannFramework.Application.MenuItem
@{
    Project selectedProject = UIStateManager.Instance.Project;
    List<MenuItem> menuItems = MenuItemManager.GetMenuItems();
    string profilePhoto = "";

    if (UIStateManager.Instance.Member != null)
    {
        profilePhoto = UIStateManager.Instance.Member.ProfilePhoto;

        if (string.IsNullOrEmpty(profilePhoto))
        {
            profilePhoto = UIStateManager.Instance.Member.Gender == Gender.Female ? "Person-Female-Light-icon.png" : "Person-Male-Light-icon.png";
        }
    }
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                @if (UIStateManager.Instance.Member != null)
                {
                    <div class="dropdown profile-element">
                        <span>
                            <img alt="image" class="img-circle" src="/Images/@profilePhoto" width="64">
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">@UIStateManager.Instance.Member.FullName</strong>
                                </span>
                                @if (UIStateManager.Instance.Project != null)
                                {
                                    <span class="text-muted text-xs block">@UIStateManager.Instance.Project.Name <b class="caret"></b></span>
                                }
                            </span>
                        </a>
                        @if (selectedProject != null)
                        {
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                @foreach (MemberProject project in UIStateManager.Instance.Member.GetProjects())
                                {
                                    <li><a href="@Url.Action("Select", "Project", new RouteValueDictionary() { { "id", project.Project.Id } })">@project.Project.Name</a></li>
                                }
                            </ul>
                        }
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                }
            </li>
            <li class="@Html.IsSelected(action: "List")">
                @foreach (MenuItem menuItem in menuItems)
                {
                    <a href="/@menuItem.ConvertedUrl"><i class="fa @menuItem.Icon.CssClass"></i> <span class="nav-label">@Html.Localize("Menu." + menuItem.Text)</span> </a>
                }
            </li>
        </ul>
    </div>
</nav>