@model Member

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MemberCtrl">
    <div class="row" ng-init="InitEdit">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="ibox-title">
                        <h5>@Html.EditPageTitle("Member")</h5>
                        <div class="ibox-tools">
                            @Html.LocalizedStyledActionLinkForExistingItem("Projects", "List", "MemberProject", new RouteValueDictionary() { { "MemberId", Model.Id } })
                            @Html.LocalizedStyledActionLinkForExistingItem("ProjectMappings", "List", "ProjectMapping", new RouteValueDictionary() { { "MemberId", Model.Id } })
                            @Html.SaveLinks()
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Member.Name")
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Member.Surname")
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Surname)
                                    @Html.ValidationMessageFor(model => model.Surname)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Member.Email")
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Email)
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Member.BirthDate")
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.BirthDate)
                                    @Html.ValidationMessageFor(model => model.BirthDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Member.FacebookId")
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.FacebookId)
                                    @Html.ValidationMessageFor(model => model.FacebookId)
                                </div>
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Member.Gender")
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownListForEnum("Gender", typeof(Gender), Model.Gender)
                                    @Html.ValidationMessageFor(model => model.Gender)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Member.ProfilePhoto")
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ProfilePhoto)
                                    @Html.ValidationMessageFor(model => model.ProfilePhoto)
                                </div>
                                <div class="col-md-2">
                                    @Html.LocalizedStyledLabel("Member.DefaultLanguage")
                                </div>
                                <div class="col-md-4">
                                    @Html.StyledDropDownList("DefaultLanguageId", Html.GetItems<Language>(), Model.DefaultLanguageId)
                                    @Html.ValidationMessageFor(model => model.DefaultLanguage)
                                </div>
                            </div>
                            @if (Model.Id == 0)
                            {
                                <div class="form-group">
                                    <div class="col-md-2">
                                        @Html.LocalizedStyledLabel("Member.Password")
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-4"></div>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "{{model.showPassword ? 'text' : 'password'}}", @ng_model = "model.Password" } })
                                        <div>
                                            <div class="col-md-6 help-block m-b-none">
                                                <a href="" ng-click="GeneratePassword()">Create password</a>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="help-block m-b-none"><a href="" ng-click="CopyPasswordToClipboard();showpass=!showpass;" ng-show="model.Password">Copy to Clipboard</a></span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                    <div class="col-md-2">
                                        @Html.LocalizedStyledLabel("Member.ConfirmPassword")
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "Password", @ng_model = "model.ConfirmPassword" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
